/* 회원가입 페이지 추가 css 시작 -------------------------------------------- */
  .term-div{
    display: inline-block;
    margin-bottom: 1%;
  }
  
  .term-icon{
    width: 10px;
  }
  
  /* 회원가입 페이지 추가 css 종료 -------------------------------------------- */